<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Download QR Code</title>
    <link rel="stylesheet"
          type="text/css"
          href="{{ url_for('static', path='/url/css/style.css') }}">

          <style>
             body{
                background-color:rgb(5, 27, 11);
            }
          h1{
            color: white;

          }
          p{
            color: white;
          }
          .e{color: white;
        }
        .d{background-color: orange;
        }
        .d:hover{
            background-color: white;
        }
          </style>
</head>
<body>
    <h1>your analytics</h1>
    <p>Click the botton bellow to see how many times your url was click on. </p>
    <form action="/analytics/" method="get">
        <label class="e" for="url"> Enter URL:</label>
        <input type="text" id="url" name="short_url" placeholder="Enter URL">
        <button class="d">get analytics</button>
    </form>
</body>
</html>
